	form {
		border: 1px solid #82a2be; 
		width: 500px; 
		margin: 0 auto;
		padding: 20px 10px;
	}
	p {
		margin: 0;
	}
	.box-error-message{
		padding-left: 60px;
	}
	
	.required::after {
		content: "*";
		margin-left: 2px;
		color: red;
	}

	.m-row {
		margin: 10px auto;
		width: 410px;
		display: flex;
		min-height: 30px;
	}
	.label {
		text-align: center;
		color: white;
		min-width: 100px;
		border: 1px solid blue;
		background-color: forestgreen;
		padding: 5px;
		margin-right: 20px;
		height: 18px;
	}

	.submit-div {
		text-align: center;
		margin-top: 20px;
	}

	.gender-div, .gender-div > div {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
	}

	.text-input {
		width: 280px;
		border: 1px solid blue;
		outline: none;
		padding-left: 8px;
	}

	.date-picker {
		border: 1px solid blue;
		width: 150px;
		outline: none;
		padding-left: 8px;
	}

	select {
		border: 1px solid blue;
		width: 150px;
	}

	input[type="submit"] {
		color: white;
		padding: 10px 25px;
		border: 1px solid blue;
		border-radius: 5px;
		background-color: forestgreen;
	}

	input[type='radio']:after {
		content: '';
		width: 15px;
		height: 15px;
		border-radius: 15px;
		position: relative;
		background-color: forestgreen;
		display: inline-block;
		visibility: visible;
		border: 1px solid blue;
		}

	input[type='radio']:checked:after {
		content: '';
		width: 15px;
		height: 15px;
		border-radius: 15px;
		position: relative;
		background-color: palevioletred;
		display: inline-block;
		visibility: visible;
		border: 1px solid blue;
	}
	input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-calendar-picker-indicator {
		display: none;
		-webkit-appearance: none;
	}
	.text{
		display: flex;
		align-items: center;
	}
	.box-img-show{
		margin: 10px auto;
		width: 410px;
		display: flex;
	}
	.box-img-show input{
		margin-top: 5px;
	}